div{
    height: 100px;
    width: 100px;
    background-color: burlywood;
    color: aliceblue;
    border: 1px solid black;
}

.dark{
    background-color: black;
    color:white;
}
.light{
    background-color: white;
    color: black;
}